pipeline/daily_history.json
{
	"name": "daily_history",
	"properties": {
		"activities": [
			{
				"name": "adding years",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(pipeline().parameters.startyear,pipeline().parameters.noofyears)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "year",
								"value": {
									"value": "@add(item(),1)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "metry_call",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "adding years",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('year')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Authorization": "Bearer 722090723400a9181120f957636348769bae76b0cef705721e3884217ec8"
									},
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "metryDS",
									"type": "DatasetReference",
									"parameters": {
										"endpoint": {
											"value": "@concat('consumptions/multi/day/',item(),'/?meters=',activity('Lookup1').output.firstRow._1)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "history_daily",
									"type": "DatasetReference",
									"parameters": {
										"year": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "daily_history code",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "metry_call",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://adb-1558361433928880.0.azuredatabricks.net/api/2.0/jobs/run-now",
					"method": "POST",
					"headers": {
						"Authorization": "Bearer dapifd3996d8d885aab04c7cbd3d7f09de32-2"
					},
					"body": {
						"job_id": 281403025512507
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "activemeter_list",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"startyear": {
				"type": "int",
				"defaultValue": 2017
			},
			"noofyears": {
				"type": "int",
				"defaultValue": 5
			}
		},
		"variables": {
			"year": {
				"type": "Array",
				"defaultValue": []
			}
		},
		"folder": {
			"name": "energy_pipelines"
		},
		"annotations": []
	}
}