pipeline/FinGridAPILoad.json
{
	"name": "FinGridAPILoad",
	"properties": {
		"activities": [
			{
				"name": "FirstDayOfPreviousMonth",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartDate",
					"value": {
						"value": "@startOfMonth(adddays(startOfMonth(utcnow()),-1))\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LastDayOfPreviousMonth",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "EndDate",
					"value": {
						"value": "@concat(formatDateTime(adddays(startOfMonth(utcnow()),-1),'yyyy-MM-dd'),'T23:59:00Z')\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SaveData In TempEnergy_Coeff_Monthly",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FirstDayOfPreviousMonth",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LastDayOfPreviousMonth",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_FinGridAPI",
						"type": "DatasetReference",
						"parameters": {
							"relativeurl": {
								"value": "@concat('?start_time=',variables('StartDate'),'&end_time=',variables('EndDate'))",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "TempTable",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"StartDate": {
				"type": "String"
			},
			"EndDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "finGrid"
		},
		"annotations": []
	}
}