pipeline/FinGridAPILoad.json
{
	"name": "FinGridAPILoad",
	"properties": {
		"activities": [
			{
				"name": "FirstDayOfPreviousMonth",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartDate",
					"value": {
						"value": "@replace(startOfMonth(adddays(startOfMonth(utcnow()),-1)),'00.0000000Z','00Z')\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LastDayOfPreviousMonth",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "EndDate",
					"value": {
						"value": "@concat(formatDateTime(adddays(startOfMonth(utcnow()),-1),'yyyy-MM-dd'),'T23:59:00Z')\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Save In TempEnergy_Coeff_Monthly",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FirstDayOfPreviousMonth",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LastDayOfPreviousMonth",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Destination",
						"value": "dbo.TempEnergy_Coeff_Monthly"
					}
				],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['value']"
								},
								"sink": {
									"name": "value",
									"type": "Double"
								}
							},
							{
								"source": {
									"path": "$['start_time']"
								},
								"sink": {
									"name": "start_time",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['end_time']"
								},
								"sink": {
									"name": "end_time",
									"type": "DateTime"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_FinGridAPI",
						"type": "DatasetReference",
						"parameters": {
							"relativeurl": {
								"value": "@concat('?start_time=',variables('StartDate'),'&end_time=',variables('EndDate'))",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "TempTable",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load Energy_Coeff_Monthly",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Save In TempEnergy_Coeff_Monthly",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "RettaDW",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "insert into [dbo].Energy_Coeff_Monthly([mnthly_AvgVal],[mnthly_strt_dt],[mnthly_end_dt],energy_type,country_code,data_source,YrMnth)\n\nSELECT \n\tavG([value])[mnthly_AvgVal],\n\tMIN(cast(start_time as date))  [mnthly_strt_dt],\n\tMAX(cast(end_time as date))[mnthly_end_dt],\n\t'Electricity' energy_type ,\n\t'FIN' country_code,\n\t'FinGrid' data_source ,\n\tCONCAT(YEAR(MIN(cast(start_time as date))),FORMAT(MIN(cast(start_time as date)),'MM') ) as YrMnth\n\tFROM \n\t[dbo].TempEnergy_Coeff_Monthly\ngroup by \n\tConcat(cast(substring(convert(varchar, dateadd(month, datediff(month, 0, start_time) , 0), 112), 0, 7) as int),'01')\nhaving  \n\tMIN(cast(start_time as date)) not in (select distinct cast([mnthly_strt_dt]as date) from [dbo].Energy_Coeff_Monthly)\n\n----Below code will Update YrMnth date column-----\n\n\tUpdate Yrmn\n\tset YrMnth=cast(format(mnthly_strt_dt,'yyyyMM') AS int)\n\tfrom  [dbo].Energy_Coeff_Monthly Yrmn\n\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Remove TempEnergy_Coeff_Monthly",
				"description": "Remove TempEnergy_Coeff_Monthly from the DW",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Load Energy_Coeff_Monthly",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "RettaDW",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "\ndrop table [dbo].TempEnergy_Coeff_Monthly"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Update Electric_Coeff_Rolling_12M",
				"description": "Updpte data for rolling 12month",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Remove TempEnergy_Coeff_Monthly",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "RettaDW",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": ";WITH data AS (\n  SELECT \n    mnthly_strt_dt, \n    mnthly_AvgVal,\n    ROW_NUMBER() OVER (ORDER BY mnthly_strt_dt) AS row_num\n  FROM \n\tEnergy_Coeff_Monthly\n), \nsum_data AS (\n  SELECT \n\trow_num,\n\tmnthly_AvgVal,\n    mnthly_strt_dt, \n    SUM(mnthly_AvgVal) OVER (ORDER BY mnthly_strt_dt ROWS BETWEEN 11 PRECEDING AND CURRENT ROW) AS sum_mnthly_AvgVal\n  FROM \n\tdata\n),FindRolling as\n(\nSELECT \n  mnthly_strt_dt, \n  mnthly_AvgVal,row_num,\n  sum_mnthly_AvgVal / 12 AS Coeff_Rolling_12M\nFROM \n\tsum_data \nWHERE \n\trow_num >= 12\n)\n--select * \nUpdate en_co_mon\nset rolling_12m_units=Coeff_Rolling_12M\nfrom \n\tFindRolling fin Inner join [dbo].[energy_coeff_Monthly] en_co_mon\non fin.mnthly_strt_dt=en_co_mon.mnthly_strt_dt\n\n\n\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Save In CO2emission",
				"description": "Save data in CO2emission",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Update Electric_Coeff_Rolling_12M",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "RettaDW",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "INSERT INTO [dbo].[CO2_emission]\n           ([building_ID]\n           ,[site_ID]\n           ,[building_name]\n           ,[Heating_Network]\n           ,[Company_ID]\n           ,[Network_ID]\n           ,[yrmnth]\n           ,[energy_type]\n           ,[rolling_12m_units]\n           ,[Total_emission_energy_cal]\n           ,[Total_emission_efficiency_cal])\n\nSELECT DISTINCT\n\tdi_bui.building_ID,\n\tdi_sit.site_id,\n\tdi_sit.street AS building_name,\n\tdi_sit.Heating_Network,\n\tdi_sit.company_id,\n\tdi_sit.network_id,\n\tcast(format(en_coe.mnthly_strt_dt,'yyyyMM') AS int) AS [yrmnth],\n\ten_mon_bui.energy_type AS energy_type,\n\ten_mon_bui.q_total AS rolling_12_units,\n\ten_mon_bui.q_total* en_coe.rolling_12m_units/100000 AS Total_emission_energy_cal,\n\tNULL AS Total_emission_efficiency_cal\nFROM\n    Energy_Coeff_Monthly  en_coe\n\tINNER JOIN [dbo].[energy_monthly_building] en_mon_bui on en_mon_bui.mnthly_strt_dt=en_coe.mnthly_strt_dt\n\tINNER JOIN [dbo].[dim_building] di_bui on di_bui.building_ID=en_mon_bui.building_ID\n\tINNER JOIN [dbo].[dim_site] di_sit on di_sit.site_ID=di_bui.site_ID\n\t\nWHERE \n\tlower(en_mon_bui.energy_type)='electricity' and  \n\tdi_bui.Rec_Status='Active' and\n\tdi_sit.Rec_Status='Active'\t \n\tand Concat(di_bui.building_ID,di_sit.site_id,cast(format(en_coe.mnthly_strt_dt,'yyyyMM') AS int) ) NOT IN (select distinct concat( building_id,site_id,yrmnth ) from [dbo].[CO2_emission] where lower(energy_type)='electricity' )\n\nORDER BY \n\t1\n\n"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"StartDate": {
				"type": "String",
				"defaultValue": "2023-01-10T00:00:00Z"
			},
			"EndDate": {
				"type": "String",
				"defaultValue": "2023-01-10T00:00:00Z"
			}
		},
		"folder": {
			"name": "finGrid"
		},
		"annotations": []
	}
}