pipeline/FinGridAPILoad.json
{
	"name": "FinGridAPILoad",
	"properties": {
		"activities": [
			{
				"name": "FirstDayOfPreviousMonth",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartDate",
					"value": {
						"value": "@replace(startOfMonth(adddays(startOfMonth(utcnow()),-1)),'00.0000000Z','00Z')\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LastDayOfPreviousMonth",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "EndDate",
					"value": {
						"value": "@concat(formatDateTime(adddays(startOfMonth(utcnow()),-1),'yyyy-MM-dd'),'T23:59:00Z')\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Save In TempEnergy_Coeff_Monthly",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FirstDayOfPreviousMonth",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LastDayOfPreviousMonth",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['value']"
								},
								"sink": {
									"name": "value",
									"type": "Double"
								}
							},
							{
								"source": {
									"path": "$['start_time']"
								},
								"sink": {
									"name": "start_time",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['end_time']"
								},
								"sink": {
									"name": "end_time",
									"type": "DateTime"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "DS_FinGridAPI",
						"type": "DatasetReference",
						"parameters": {
							"relativeurl": {
								"value": "@concat('?start_time=',variables('StartDate'),'&end_time=',variables('EndDate'))",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "TempTable",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load Energy_Coeff_Monthly",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Save In TempEnergy_Coeff_Monthly",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "RettaDW",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "insert into [dbo].Energy_Coeff_Monthly([mnthly_AvgVal],[mnthly_strt_dt],[mnthly_end_dt],energy_type,country_code,data_source)\n\nSELECT \n\tavG([value])[mnthly_AvgVal],\n\tMIN(cast(start_time as date))  [mnthly_strt_dt],\n\tMAX(cast(end_time as date))[mnthly_end_dt],\n\t'Electricity' energy_type ,\n\t'FIN' country_code,\n\t'FinGrid' data_source \nFROM \n\t[dbo].TempEnergy_Coeff_Monthly\ngroup by \n\tConcat(cast(substring(convert(varchar, dateadd(month, datediff(month, 0, start_time) , 0), 112), 0, 7) as int),'01')\nhaving  \n\tMIN(cast(start_time as date)) not in (select distinct cast([mnthly_strt_dt]as date) from [dbo].Energy_Coeff_Monthly)"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"StartDate": {
				"type": "String"
			},
			"EndDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "finGrid"
		},
		"annotations": []
	}
}