pipeline/get_current_weather.json
{
	"name": "get_current_weather",
	"properties": {
		"activities": [
			{
				"name": "getKeyValut",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://rettakvault.vault.azure.net/secrets/AccuWeatherAPI?api-version=7.3",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Lookup  sites",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "getKeyValut",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "site_loc_key",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach site",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup  sites",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup  sites').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "site_id",
											"value": {
												"value": "@item().site_id",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "WeatherDS",
									"type": "DatasetReference",
									"parameters": {
										"loc_key": {
											"value": "@concat(item().loc_key, '?details=true&apikey=', activity('Web1').output.value)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "WeatherSinkJson",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@concat('weather_',item().site_id, utcNow('yyyyMMddhh'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "accuweather"
		},
		"annotations": [],
		"lastPublishTime": "2022-08-08T01:57:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}