pipeline/Is_pipeline_running.json
{
	"name": "Is_pipeline_running",
	"properties": {
		"activities": [
			{
				"name": "Web2",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://management.azure.com/subscriptions?api-version=2020-01-01",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://management.core.windows.net/"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "subscription_id",
					"value": {
						"value": "@replace(activity('Web2').output.value[0].id,'/subscriptions/','')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"PipelineName": {
				"type": "string",
				"defaultValue": "Sharepoint_data_ingestion"
			},
			"ThisRunId": {
				"type": "string"
			},
			"QueryRunDays": {
				"type": "string",
				"defaultValue": "-1"
			},
			"resourcename": {
				"type": "string",
				"defaultValue": "RettaDW"
			},
			"factory": {
				"type": "string",
				"defaultValue": "RettaADF"
			}
		},
		"variables": {
			"subscription_id": {
				"type": "String"
			},
			"running_pipeline_id": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Misc"
		},
		"annotations": []
	}
}