pipeline/Sharepoint_data_ingestion.json
{
	"name": "Sharepoint_data_ingestion",
	"properties": {
		"activities": [
			{
				"name": "Sharepoint",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Sharepoint_ingestion",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"JobID": "350589294007009",
						"DatabricksWorkspaceID": "adb-1558361433928880",
						"Waitsec": 30,
						"table_name": {
							"value": "@variables('table_name')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Datawarehouse Loading",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Sharepoint",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Loading_datawarehouse",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "table_name",
					"value": {
						"value": "@split(pipeline().TriggerName,'_')[-1]",
						"type": "Expression"
					}
				}
			}
		],
		"concurrency": 10,
		"variables": {
			"table_name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Ingestion_pipeline"
		},
		"annotations": []
	}
}