pipeline/Sharepoint_ingestion.json
{
	"name": "Sharepoint_ingestion",
	"properties": {
		"activities": [
			{
				"name": "Run Now Api",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://adb-1558361433928880.0.azuredatabricks.net/api/2.0/jobs/run-now",
					"method": "POST",
					"headers": {
						"Authorization": "Bearer dapifd3996d8d885aab04c7cbd3d7f09de32-2"
					},
					"body": {
						"value": "{\n    \"job_id\": 350589294007009,\n    \"creator_user_name\": \"swathi.reddy@routadigital.com\",\n    \"run_as_user_name\": \"swathi.reddy@routadigital.com\",\n    \"run_as_owner\": true,\n    \"settings\": {\n        \"name\": \"Sharepoint_Seq\",\n        \"email_notifications\": {\n            \"no_alert_for_skipped_runs\": false\n        },\n        \"webhook_notifications\": {},\n        \"timeout_seconds\": 0,\n        \"max_concurrent_runs\": 10,\n        \"tasks\": [\n            {\n                \"task_key\": \"Sharepoint_Seq\",\n                \"notebook_task\": {\n                    \"notebook_path\": \"/Repos/prayank.sharma@routadigital.com/retta/sharepoint/sharepoint_stg_tgt_seq\",\n                    \"base_parameters\": {\n                        \"table_name\": \"\"\n                    },\n                    \"source\": \"WORKSPACE\"\n                },\n                \"existing_cluster_id\": \"0619-160955-oyx2izwq\",\n                \"timeout_seconds\": 0,\n                \"email_notifications\": {\n                    \"on_start\": [\n                        \"prayank.sharma@routadigital.com\",\n                        \"swathi.reddy@routadigital.com\",\n                        \"ankit.mishra@routadigital.com\",\n                        \"saroj.bisi@routadigital.com\",\n                        \"srikanta.patra@routadigital.com\"\n                    ],\n                    \"on_success\": [\n                        \"prayank.sharma@routadigital.com\",\n                        \"swathi.reddy@routadigital.com\",\n                        \"ankit.mishra@routadigital.com\",\n                        \"saroj.bisi@routadigital.com\",\n                        \"srikanta.patra@routadigital.com\"\n                    ],\n                    \"on_failure\": [\n                        \"prayank.sharma@routadigital.com\",\n                        \"swathi.reddy@routadigital.com\",\n                        \"ankit.mishra@routadigital.com\",\n                        \"saroj.bisi@routadigital.com\",\n                        \"srikanta.patra@routadigital.com\"\n                    ]\n                }\n            }\n        ],\n        \"format\": \"MULTI_TASK\"\n    },\n    \"created_time\": 1661274737145\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Run Now Api",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(variables('JobStatus'),'Running'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Check API",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://adb-1558361433928880.0.azuredatabricks.net/api/2.1/jobs/runs/get?run_id=',activity('Run Now Api').output.run_id)",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Authorization": "Bearer dapifd3996d8d885aab04c7cbd3d7f09de32-2"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Check API",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "JobStatus",
								"value": {
									"value": "@if(\nor(\nequals(activity('Check API').output.state.life_cycle_state, 'PENDING'), equals(activity('Check API').output.state.life_cycle_state, 'RUNNING')\n),\n'Running',\nif(equals(activity('Check API').output.state.life_cycle_state,'FAILED'),'Failed',activity('Check API').output.state.result_state)\n)\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait to recheck API",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@pipeline().parameters.Waitsec",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(activity('Check API').output.state.result_state,'SUCCESS'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "{ Databricks Sharepoint ingestion Workflow failed }",
								"errorCode": "Failed"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"JobID": {
				"type": "string",
				"defaultValue": "350589294007009"
			},
			"DatabricksWorkspaceID": {
				"type": "string",
				"defaultValue": "adb-1558361433928880"
			},
			"Waitsec": {
				"type": "int",
				"defaultValue": 30
			},
			"table_name": {
				"type": "string"
			}
		},
		"variables": {
			"JobStatus": {
				"type": "String",
				"defaultValue": "Running"
			}
		},
		"folder": {
			"name": "sharepoint"
		},
		"annotations": []
	}
}