pipeline/Weather_parser.json
{
	"name": "Weather_parser",
	"properties": {
		"activities": [
			{
				"name": "Weather_parser",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/prayank.sharma@routadigital.com/retta/weather/ext_weather_data"
				},
				"linkedServiceName": {
					"referenceName": "RettaDBrcks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Email_notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Weather_parser",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Email_Notifier",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"EmailTo": "swathi.reddy@routadigital.com, prayank.sharma@routadigital.com",
						"Activity": {
							"value": "@activity('Weather_parser').output",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@activity('Weather_parser').output",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "accuweather"
		},
		"annotations": []
	}
}